<header>
  <h1>Robot World</h1>
</header>

<ul>
  <li><a href="/robots">Task Index</a></li>
  <li><a href="/robots/new">New Task</a></li>
</ul>

<main>
  <div class="row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>

  <div class="row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>

  <div class="row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>
</main>
