<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/application.css">
  <title>Robot World</title>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
