<form action="/robots" method="post" enctype="multipart/form-data">
  <p>Enter a new task:</p>
  <input type='text' name='robot[name]' placeholder="name"/><br/>
  <input type='text' name='robot[city]' placeholder="city"/><br/>
  <input type='text' name='robot[state]' placeholder="state"/><br/>
  <input type='text' name='robot[birthdate]' placeholder="birthdate"/><br/>
  <input type='text' name='robot[datehired]' placeholder="date hired"/><br/>
  <input type='text' name='robot[department]' placeholder="department"/><br/>
  <input type="file" name='robot[file]' enctype="multipart/form-data">
  <!-- <textarea name='robot[city]'></textarea><br/> -->
  <input type='submit'/>
</form>
<!-- <form method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload image">
</form> -->
