<form action="/robots" method="post">
  <p>Enter a new task:</p>
  <input type='text' name='robot[name]' placeholder="name"/><br/>
  <input type='text' name='robot[city]' placeholder="city"/><br/>
  <input type='text' name='robot[state]' placeholder="state"/><br/>
  <input type='text' name='robot[birthdate]' placeholder="birthdate"/><br/>
  <input type='text' name='robot[datehired]' placeholder="date hired"/><br/>
  <input type='text' name='robot[department]' placeholder="department"/><br/>
  <!-- <input type='text' name='robot[name]'/><br/> -->
  <!-- <textarea name='robot[city]'></textarea><br/> -->
  <input type='submit'/>
</form>
